{% load static %}

<head>
    <title>
        {% block title %}StatsNet{% endblock title %}
    </title>

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

    {% block links %}
    {% endblock links %}
</head>

{% load bootstrap3 %}
{% bootstrap_javascript jquery=1 %}
{% bootstrap_css %}

<body>
    {% block body_header %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9">
            </div>
            <div class="col-sm-1">
                <p><a href="/games/">Home</a></p>
            </div>
            <div class="col-sm-1">
                <p><a href="/games/record/">Record Game</a></p>
            </div>
            <div class="col-sm-1">
                <p><a href="/games/stats/">Stats</a></p>
            </div>
        </div>
    </div>
    {% endblock body_header %}

    {% block message %}
    {% endblock message %}

    {% block content %}
    {% endblock content %}

</body>